<article id='frames'>
  <header>
    <h1>
      <%= replay['band_name'] %>:
      <%= replay['score'] %>%
    </h1>

    <%= link_to 'Back to Score', replay_path(replay['id']) %>
  </header>

  <section>
    <% frames.each do |frame| %>
      <%= render 'frame', frame: frame %>
    <% end %>
  </section>

  <footer id='back_link'>
    <%= link_to 'Back to Score', replay_path(replay['id']) %>
  </footer>
</article>